@page
@model ConferenceManagement.Models.User
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-action="Register" method="post">
    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username"/>
    </div>
    <div>
        <label asp-for="HashPass">Password:</label>
        <input asp-for="HashPass" type="password" />
    </div>
    <button type="submit">Register</button>
    <p style="color: red">@ViewBag.Message</p>
</form>
</div>